html{
    font-size: 20px;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}
body {
    padding: 4rem 0rem 30rem 0rem;
}
h1 { font-size: 2rem; }
h2 { font-size: 150%; }
h3{
    font-size: 25px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
main{
    margin-top: 1rem;
    padding: 0rem 4rem;
}
section{
    margin-top: 2rem;
}
.typo p{
    margin-top: 1rem;
    font-size: 1rem;
}
.boxes{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "col1" "col2" "col3";
    gap: 1rem;
}
.box{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    break-inside: avoid;
}
.bootstrap-box {
    height: 6rem;
}
.htmlForm div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
    max-width: 20rem;
}
.htmlForm input, .htmlForm textarea {
    padding: .4rem .6rem;
    border: .1rem solid #8e8e8e;
    border-radius: .4rem;
}
button {
    background-color: #686868;
    color: white;
    padding: .5rem 1rem;
    border-radius: .5rem !important;
}

@media (max-width: 576px) { 
    html{ font-size: 18px; }
    main{ padding: 0rem 1rem; }
    .boxes{
        display: flex;
        flex-direction: column;
    }
} 
@media (min-width: 577px) and (max-width: 991px) { 
    html{ font-size: 20px; }
    .boxes{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "col1" "col2";
    }
}